body {
	background-color: #000000;	
}

@media (max-width: 800px) {
 .project_desk {
   font-size: 71%;
  }
}

.helloworld {
	color: #ffffff;
	font-size: 300%;
	width: max-content;
	margin-left: auto;
	margin-right: auto;
}

.helloworld_description {
	color: #ffffff;
	font-size: 200%;
	width: max-content;
	margin-left: auto;
	margin-right: auto;
}

.link_to_fazziclay {
	color: #00dddd;
}

.link_to_fazziclay:hover {
	color: #0055ff;
}

.my_name_is {
	color: #ffffff;
	font-size: 200%;   
	padding: 1%;
}

.my_name_is_name {
	color: #ff33ff;
}

.linkgroup {
	padding-left: 1%;
}

.linkgroup_header {
	color: #afd0ff;
	font-size: 230%;
}

#link_text {
	font-size: 200%;
	color: #fafaff;
}
/*
==== me header
*/
.me_link {            
	color: #ffffff;
	font-size: 200%;
}

.me_link:hover {
	color: #00aaff;
	padding-left: 0.05%;
}


/*
==== projects header
*/
.projects_line {            
	color: #d4d4ff;
	font-size: 200%;
}

.project_desk {

}

.projects_link {
	color: #ffffff;
}


.projects_link:hover {
	color: #00aaff;
	padding-left: 0.05%;
}


/*
==== other header
*/
.other_link {
	color: #ffffff;
	font-size: 200%;
}

.other_link:hover {
	color: #00aaff;
	padding-left: 0.05%;
}


.donate_link {
	color: #ffffff;
	font-size: 200%;
}

.donate_line {
	color: #ffffff;
	font-size: 200%;
}

.donate_link:hover {
	color: #00aaff;
	padding-left: 0.05%;
}
