body {
	background-color: #001117;	
}


h1, h2, h3, h4, text, p {
	color: #ffffff;
	font-size: 200%;
}

a {
	color: #ffffff;
}

a:hover {
	color: #00ffdf;
}



div.screenshots {
	text-align: center;
	overflow: auto;    
}

div.screenshots img {
	max-height: 300px;
}




.app_title {
	font-size: 400%;
	width: max-content;
	margin-left: auto;
	margin-right: auto;
}

.how_to_use {
	font-size: 200%;
	color: #00ff15;   

}

.how_to_use_link {
	font-size: 110%;
	color: #00a2ff;   

}

.latest_title {
	font-size: 270%;
	color: #ffffff;   
}

.latest_date {
	font-size: 250%;
	color: #8757ff;   
}

.latest_versionName {
	font-size: 250%;
	color: #57ddff;     
}


.latest_build {
	font-size: 270%;
	color: #ffffff;      
}

.latest_versionBuild {
	font-size: 250%;
	color: #5776ff;      
}
                          

.latest_changelog {
	font-size: 150%;
	color: #70ffbc;   
   
}

#download_button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 20px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 40px;
  margin: 40px 10px;
  cursor: pointer;
}