body {
	background-color: #000000;	
}

.content {
	padding: 0.5%;
}

.helloworld {
	color: #ffffffff;
	font-size: 300%;
	width: max-content;
	margin-left: auto;
	margin-right: auto;
}

.helloworld_description {
	color: #ffffffff;
	font-size: 200%;
	width: max-content;
	margin-left: auto;
	margin-right: auto;
}

.link_to_fazziclay {
	color: #00dddd;
}

.link_to_fazziclay:hover {
	color: #0000ff;
}

.link {
	color: #d4d4ff;
	font-size: 200%;
}

.link:hover {
	color: #99ffff;
}

.linkgroup_header {
	color: #0f0fff;
	font-size: 230%;
	padding-bottom: 0%;   	
}

.linkgroup_contact {
	padding-left: 1%;
}

.linkgroup_projects {
	padding-left: 1%;
}

.linkgroup_other {
	padding-left: 1%;
}

.linkgroup_donate {      
	padding-left: 1%;
}

.linkgroup_files {	
	padding-left: 1%;
	color: #ffffff;
}