body {
	background-color: #000000;	
}

.helloworld {
	color: #ffffff;
	font-size: 300%;
	width: max-content;
	margin-left: auto;
	margin-right: auto;
}

.helloworld_description {
	color: #ffffff;
	font-size: 200%;
	width: max-content;
	margin-left: auto;
	margin-right: auto;
}

.link_to_fazziclay {
	color: #00dddd;
}

.link_to_fazziclay:hover {
	color: #0055ff;
}

.my_name_is {
	color: #ffffff;
	font-size: 200%;   
	padding: 1%;
}

.my_name_is_name {
	color: #ff33ff;
}

.linkgroup {
	padding-left: 1%;
}

.linkgroup_header {
	color: #afd0ff;
	font-size: 230%;   	
}

.link {            
	color: #d4d4ff;
	font-size: 200%;
}

.link:hover {
	color: #00aaff;
}






